body {
font-family: sans-serif;
}

nav{
  background-color: #000;
  color:#fff;
  height: 50px;
  padding: 20px;
  margin: 20px;
  border: 5px inset deepred;
  border-radius: 5px;
}

#title{
  color:rbga(47,79,79,0.8);
  font-family: 'Ubuntu Condensed', sans-serif;;
}

h1{
  font-family: 'Signika', sans-serif;
}
